<html>
<head>
	<title>Cors Demo</title>
	<link href="styles/theme.css" rel="stylesheet">
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-resource.min.js"></script>
	<script src="js/corsCtrl.js"></script>
	<script src="js/urlCtrl.js"></script>
</head>
<body>
	<div ng-app="CorsTest">
	    <div ng-controller="corsCtrl">
	    	<form>
       			<fieldset>
	         		<legend>CORS Demo</legend>
		    		<!--p>
			    		<label>Choose URL : </label>
			    		<select id = "myList" ng-controller="urlCtrl">
			    			<option ng-repeat="url in urls">{{url.urlId}}</option>
			    		</select>
		    		</p-->
		    		<button class="blueButton" ng-click="isAllowed()">CORS Enabled</button>
	        		<button class="blueButton" ng-click="isNotAllowed()">CORS Not Enabled</button>
	    			<p>Response: <span class="data">{{corsData}}</span></br></p>
	    			<p>URL: <span class="data">{{corsURL}}</span></p>
	    			<p>Status: <span class="data">{{corsStatus}}</span></p>
	       			<!-- button ng-click="useResource()">$resource request</button -->   
	    		</fieldset>
	    	</form>
	         
	    </div>
	</div>
</body>
</html>
