<html>
<head>
	<title>Cors Demo</title>
	<link href="styles/theme.css" rel="stylesheet">
	<script src="lib/angular.min.js"></script>
	<script src="lib/angular-resource.min.js"></script>
	<script src="js/corsCtrl.js"></script>
</head>
<body>
	<div ng-app="CorsTest">
	    <div ng-controller="corsCtrl">
	        <button class="blueButton" ng-click="isAllowed()">CORS Enabled</button>
	        <button class="blueButton" ng-click="isNotAllowed()">CORS Not Enabled</button>
	    	</br></br>
	    	Response: <span class="data">{{corsData}}</span>
	        <!-- button ng-click="useResource()">$resource request</button -->    
	    </div>
	</div>
</body>
</html>
